/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6600; /* Cambia el color al pasar el mouse */
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos */
.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.destacado {
    background-color: #ff6600; /* Color de fondo llamativo */
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.destacado h2 {
    font-size: 24px; /* Tamaño de fuente más grande */
}

.destacado p {
    font-size: 18px; /* Tamaño de fuente más grande */
    margin-top: 10px;
}

/* Estilos para el pie de página */
footer p {
    font-size: 14px;
    margin: 0;
}

/* Estilos para los enlaces de navegación */
nav ul {
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

/* Estilos para el enlace activo */
nav a.current {
    color: #ff6600;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos del contenido */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

address {
    font-size: 18px;
    color: #333;
}

/* Estilos del formulario de contacto */
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}
